*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
section{
    height: 100vh;
    overflow: hidden;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}
section h1{
    font-size: 60px;
    color: white;
    display: flex;
    cursor: pointer;
    letter-spacing: 10px;
}
section h1 span{
    transition: 1.5s;
}
section h1:hover span{
    filter: blur(20px);
    transform: scale(3);
    opacity: 0;
    color: aqua;
}
section h1 span:nth-child(10n+1){
    transition-delay: 0s;
}
section h1 span:nth-child(10n+2){
    transition-delay: .1s;
}
section h1 span:nth-child(10n+3){
    transition-delay: .2s;
}
section h1 span:nth-child(10n+4){
    transition-delay: .3s;
}
section h1 span:nth-child(10n+5){
    transition-delay: .4s;
}
section h1 span:nth-child(10n+6){
    transition-delay: .5s;
}
section h1 span:nth-child(10n+7){
    transition-delay: .6s;
}
section h1 span:nth-child(10n+8){
    transition-delay: .7s;
}
section h1 span:nth-child(10n+9){
    transition-delay: .8s;
}
section h1 span:nth-child(10n+10){
    transition-delay: .9s;
}